<%- include("partials/header") -%>

<section id="title-section">
  <div class="container-fluid title-container">
    <div class="title-box row">
      <div class="col-lg-6">
        <h1>Hello,</h1>
        <h1>I'm Chris</h1>
        <p class="title-quote">
          I am a self-taught junior full stack developer.
        </p>
      </div>
      <div class="col-lg-6">
        <img
          class="title-picture"
          src="images/web_developer.svg"
          alt="title-pic.img"
        />
      </div>
      <a class="arrow-anchor"
        ><img class="arrow" src="images/icon-arrow-down.svg" alt="arrow.img"
      /></a>
    </div>
  </div>
</section>

<div class="skew-section-end"></div>

<section id="about-me">
  <h2>About Me:</h2>

  <div class="row about-me-container">
    <div class="col-lg-9">
      <div class="grey-container">
        <div class="tab-container">
          <button class="tab tab-about-me tab-1 tab-active" data-tab="1">
            Profile
          </button>
          <button class="tab tab-about-me tab-2" data-tab="2">Education</button>
          <button class="tab tab-about-me tab-3" data-tab="3">Skills</button>
        </div>

        <div class="content content-1">
          <h5 class="header">Profile:</h5>
          <p>
            I am an aspiring full-stack developer who graduated from university
            with a 1st class STEM degree. During my degree I was introduced to
            programming, and due to enjoying it have subsequenly decided to
            expand my coding ability by learning web development.
          </p>
          <p>
            I enjoy tackling tasks that involve logic and problem solving; I
            have built several airfix models, play chess
          </p>
        </div>
        <div class="content content-2 content-hidden">
          <h5 class="header">Education:</h5>
          <p>
            During my Bachelors degree in civil engineering I was introduced to
            MATLAB (m-script), a low-level language based on C++ that allows for
            matrix manipulation. Although at first I found m-script confusing,
            it eventually became the most interesting part of the course, and I
            ended up helping several friends to complete their MATLAB
            assignments.
          </p>
          <p>
            In my final year at university I chose a dissertation ascociated
            with MATLAB, using m-script to assemble meshes to analyze finite
            element problems associated with the movement of beams and bars
            under loading. After graduating university, I relised that I was
            more interested in coding than in engineering, and therefore started
            to learn about web development.
          </p>
        </div>
        <div class="content content-3 content-hidden">
          <h5 class="header">Skills:</h5>
          <div class="skill-container">
            <div class="skill-box">
              <h3>Languages:</h3>
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>node.js</li>
              </ul>
            </div>
            <div class="skill-box">
              <h3>Tools:</h3>
              <ul>
                <li>Bootstrap4</li>
                <li>jQuery</li>
                <li>express.js</li>
                <li>EJS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="grey-container">
        <a href="/projects"
          ><button class="btn btn-dark" type="button" name="project-btn">
            Projects
          </button></a
        >
      </div>
    </div>
  </div>
</section>

<hr />

<section id="project-container">
  <h2>Projects:</h2>

  <div class="row">
    <div class="col-lg-10">
      <div class="slider">
        <div class="slide slide-1 grey-container">
          <div class="testimonial">
            <h5 class="testimonial__header">Best financial decision ever!</h5>
            <blockquote class="testimonial__text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusantium quas quisquam non? Quas voluptate nulla minima
              deleniti optio ullam nesciunt, numquam corporis et asperiores
              laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
              id alias reiciendis, perferendis facere pariatur dolore veniam
              autem esse non voluptatem saepe provident nihil molestiae.
            </blockquote>
            <address class="testimonial__author">
              <h6 class="testimonial__name">Aarav Lynn</h6>
              <p class="testimonial__location">San Francisco, USA</p>
            </address>
          </div>
        </div>
        <div class="slide slide-2 grey-container">
          <div class="testimonial">
            <h5 class="testimonial__header">slide 2</h5>
            <blockquote class="testimonial__text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusantium quas quisquam non? Quas voluptate nulla minima
              deleniti optio ullam nesciunt, numquam corporis et asperiores
              laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
              id alias reiciendis, perferendis facere pariatur dolore veniam
              autem esse non voluptatem saepe provident nihil molestiae.
            </blockquote>
            <address class="testimonial__author">
              <h6 class="testimonial__name">Aarav Lynn</h6>
              <p class="testimonial__location">San Francisco, USA</p>
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 slider-container">
      <div class="slider-bar">
        <button
          class="tab slider-tab-1 slider-tab slider-tab-active"
          data-slide="0"
        >
          MintFarm
        </button>
        <button class="tab slider-tab-2 slider-tab" data-slide="1">
          MiniGames
        </button>
        <button class="tab slider-tab-3 slider-tab" data-slide="2">
          Portfolio
        </button>
      </div>
    </div>
  </div>
</section>

<div class="col-lg-4 col-md-6">
  <div class="card">
    <a class="card-anchor" href="#">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
          accusantium ad alias, aliquid amet aspernatur atque culpa cum debitis
          dicta doloremque, dolorum ea eos et excepturi explicabo facilis harum
          illo impedit incidunt laborum laudantium...
        </p>
        <p class="card-text">
          <small class="text-muted"
            ><i class="fas fa-calendar-alt"></i>Jan 20, 2018</small
          >
        </p>
      </div>
    </a>
  </div>
</div>

<%- include("partials/footer") -%>
