<%- include("partials/header") -%>

<section id="title-section">
  <div class="container-fluid title-container">
    <div class="title-box row">
      <div class="col-lg-6">
        <h1>Hello,</h1>
        <h1>I'm Chris</h1>
        <p class="title-quote">
          I am a self-taught junior full stack developer.
        </p>
      </div>
      <div class="col-lg-6">
        <img
          class="title-picture"
          src="images/web_developer.svg"
          alt="title-pic.img"
        />
      </div>
      <a class="arrow-anchor"
        ><img class="arrow" src="images/icon-arrow-down.svg" alt="arrow.img"
      /></a>
    </div>
  </div>
</section>

<div class="skew-section-end"></div>

<section id="about-me">
  <h2>About Me:</h2>

  <div class="row about-me-container">
    <div class="col-lg-9">
      <div class="grey-container">
        <div class="tab-container">
          <button class="tab tab-about-me tab-1 tab-active" data-tab="1">
            Profile
          </button>
          <button class="tab tab-about-me tab-2" data-tab="2">Education</button>
          <button class="tab tab-about-me tab-3" data-tab="3">Skills</button>
        </div>

        <div class="content content-1">
          <h5 class="header">Profile:</h5>
          <p>
            I am an aspiring full-stack developer who graduated from university
            with a 1st class STEM degree. Since graduating I decided to persue
            web development, learning both front and back end technologies
            focused around javascript.
          </p>
          <p>
            I enjoy tackling tasks that involve logic and problem solving;
            Figuring out how to create automated and scalable scripts is what
            intially drew me into coding, being able to reduce complex problems
            into managable pieces then convert them into code is a key skill I
            use regularly: Object oriented programming and using functions
            enable me to effecitvely impliment this into my projects.
          </p>
        </div>
        <div class="content content-2 content-hidden">
          <h5 class="header">Education:</h5>
          <p>
            During my Bachelors degree in civil engineering I was introduced to
            MATLAB (m-script), a low-level language based on C++ that allows for
            matrix manipulation. Although at first I found m-script confusing,
            it eventually became the most interesting part of the course, and I
            ended up helping several friends to complete their MATLAB
            assignments.
          </p>
          <p>
            In my final year at university I chose a dissertation ascociated
            with MATLAB, using m-script to assemble meshes to analyze finite
            element problems associated with the movement of beams and bars
            under loading. After graduating university, I realised that I was
            more interested in coding than in engineering and therefore started
            to learn about web development.
          </p>
        </div>
        <div class="content content-3 content-hidden">
          <h5 class="header">Skills:</h5>
          <div class="skill-container">
            <div class="skill-box">
              <h4>Languages:</h4>
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
              </ul>
            </div>
            <div class="skill-box">
              <h4>Front-End:</h4>
              <ul>
                <li>Bootstrap4</li>
                <li>jQuery</li>
                <li>Leaflet.js</li>
              </ul>
            </div>
            <div class="skill-box">
              <h4>Back-End:</h4>
              <ul>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>EJS</li>
                <li>MongoDB</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <aside class="grey-container about-me-side-bar">
        <h5>Schooling:</h5>
        <ul>
          <li>St Johns primary School</li>
          <li>Bishop Ramsey CofE Secondary School</li>
          <li>BEng at City, University of London</li>
        </ul>
        <h5>Contact Info:</h5>
        <ul>
          <li>mob: 07717678104</li>
          <li>email: christopher.greenwell7 @gmail.com</li>
        </ul>
        <div>
          <a
            ><button
              class="btn btn-dark sidebar-project-btn"
              type="button"
              name="project-btn"
            >
              Projects
            </button></a
          >
          <a href="https://www.linkedin.com/in/christopher-greenwell-66054b205/"
            ><button class="btn btn-dark" type="button" name="project-btn">
              Linked-In
            </button></a
          >
        </div>
      </aside>
    </div>
  </div>
</section>

<hr />

<section id="project-container">
  <h2>Projects:</h2>

  <div class="row">
    <div class="col-lg-10 spinner">
      <div class="slider invisible">
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="slide slide-1">
          <div class="project-title-section grey-container">
            <div class="project-title">
              <h5 class="header">MintFarm</h5>
              <p class="languages">
                <b>HTML5</b><b>CSS3</b><span>Bootstrap</span
                ><b>Javascript ES6</b><span>DOM</span><span>Async API req.</span
                ><b>Node.js</b><span>Express</span><span>EJS</span
                ><span>Passport</span><b>Mongo DB</b><span>Mongoose</span
                ><span>CRUD API</span>
              </p>
              <a href="https://github.com/CGreenwell98/MintFarm"
                ><button class="btn btn-dark">View Code</button></a
              >
            </div>
            <a class="product-image" href="https://mintfarm.herokuapp.com/"
              ><img src="images/MintFarm-fullscreen.png" alt="MintFarm.img"
            /></a>
          </div>
          <div class="features-section grey-container">
            <h4>Features:</h4>
            <p>
              Mintfarm is a website made for a (fake) mint product wholesale
              retailer situated in wembley. It includes several different web
              pages with the following features:
            </p>
            <div class="feature-wrapper">
              <div class="feature-container">
                <p>
                  A homepage with some general information, containing a google
                  map that uses the google API to show the approximate location
                  of the store.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  A product page with several items that are saved and retreived
                  from a Mongo DB database. Items can be sorted by price or
                  name.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  Dynamically loaded product pages for each item that use EJS to
                  replace item information with data retrieved from the
                  database.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  Sign in and register pages that use passport to authenticate
                  users, additionally cookies were used via sessions to keep
                  users signed in if they left the page.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  A basket saved in a database that contains all items and their
                  quantities that a user has added. Can delete individual or all
                  items via the account page.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  An account page that displays the user's account information,
                  and displays a basket which is asynchronously loaded with the
                  users basket items.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="slide slide-2">
          <div class="project-title-section grey-container">
            <div class="project-title">
              <h5 class="header">TrainSpota</h5>
              <p class="languages">
                <b>HTML5</b><b>CSS3</b><span>Responsive</span
                ><span>Flexbox</span><span>CSS Grid</span><b>Javascript ES6</b
                ><span>OOP</span><span>Modules</span><span>DOM</span
                ><span>Async API req.</span><b>Node.js</b><span>Express</span
                ><span>EJS</span>
                <!-- <span>Passport</span><b>Mongo DB</b
                ><span>Mongoose</span><span>CRUD API</span> -->
              </p>
              <a href="https://github.com/CGreenwell98/TrainSpota"
                ><button class="btn btn-dark">View Code</button></a
              >
            </div>
            <a class="product-image" href="https://trainspota.herokuapp.com/"
              ><img src="images/TrainSpota-fullscreen.png" alt="TrainSpota.img"
            /></a>
          </div>
          <div class="features-section grey-container">
            <h4>Features:</h4>
            <p>
              TrainSpota is a website created for people that enjoy train
              spotting and want to get up-to-date train data. Train information
              is displayed in relation to a Leaflet.js map with the following
              features:
            </p>
            <div class="feature-wrapper">
              <div class="feature-container">
                <p>
                  A simple, reponsive UI that allows easy access to the search,
                  geo-location, map-layer, and timetable features.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  User search queries that use transportAPI.com to get train
                  data that can be displayed back to the user in a list or
                  timetable (planned).
                </p>
              </div>
              <div class="feature-container">
                <p>
                  Two base layers for OpenStreetMap or satelitte, and an
                  OpenTrainMap overlay displaying current, planned and
                  pre-existing train routes.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  A double-map-click that finds the nearest station within 500m
                  and displays its train info for the next hour.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  PLANNED: Sign in and register function that use passport to
                  authenticate users, additionally cookies were used via
                  sessions to keep users signed in.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  PLANNED: Favourite stations that can be saved using MongoDB
                  atlas that are linked to the users account.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="slide slide-3">
          <div class="project-title-section grey-container">
            <div class="project-title">
              <h5 class="header">Portfolio</h5>
              <p class="languages">
                <b>HTML5</b><b>CSS3</b><b>Javascript ES6</b><span>DOM</span
                ><span>Flex-box</span><span>CSS Grid</span>
              </p>
              <a href="https://github.com/CGreenwell98/Portfolio"
                ><button class="btn btn-dark">Source Code</button></a
              >
            </div>
            <a class="product-image"
              ><img src="images/Portfolio-fullscreen.png" alt="Portfolio.img"
            /></a>
          </div>
          <div class="features-section grey-container">
            <h4>Features:</h4>
            <p>
              My prortfolio website is used to display other projects and
              includes:
            </p>
            <div class="feature-wrapper">
              <div class="feature-container">
                <p>
                  A tabbed component that uses DOM manipulation to change the
                  visible tab.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  A second tabbed component that uses a slider to switch between
                  projects.
                </p>
              </div>
              <div class="feature-container">
                <p>
                  Smooth scrolling to sections when clicking on buttons in the
                  navbar.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slider -->

    <div class="col-lg-2 slider-container">
      <div class="slider-bar">
        <button
          class="tab slider-tab-1 slider-tab slider-tab-active"
          data-slide="0"
        >
          MintFarm
        </button>
        <button class="tab slider-tab-2 slider-tab" data-slide="1">
          TrainSpota
        </button>
        <button class="tab slider-tab-3 slider-tab" data-slide="2">
          Portfolio
        </button>
      </div>
    </div>
  </div>
</section>

<!-- <div class="col-lg-4 col-md-6">
  <div class="card">
    <a class="card-anchor" href="#">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
          accusantium ad alias, aliquid amet aspernatur atque culpa cum debitis
          dicta doloremque, dolorum ea eos et excepturi explicabo facilis harum
          illo impedit incidunt laborum laudantium...
        </p>
        <p class="card-text">
          <small class="text-muted"
            ><i class="fas fa-calendar-alt"></i>Jan 20, 2018</small
          >
        </p>
      </div>
    </a>
  </div>
</div> -->

<%- include("partials/footer") -%>
