body {
  background-color: rgba(220, 220, 220, 0.1);
  padding: 0 9rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #f8f8ff;
  font-family: "Lobster";
  font-size: 5rem;
  line-height: 1.2;
}

h2 {
  color: black;
  font-family: "Lobster";
  font-size: 4rem;
  padding: 20px 0 40px;
}

h3 {
  font-weight: 700;
}

hr {
  width: 50%;
  border: 0;
  height: 1px;
  background: #ccc;
}

/* Title & Navbar */

.arrow {
  width: 2rem;

  padding: 0.5rem;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-anchor {
  margin: 6.5rem auto 0;
}

#title-section {
  background-color: #003365;
  margin: -4.5rem -9rem 0;
  height: 45rem;
}

.skew-section-end {
  background-color: #003365;
  margin: -4.5rem -9rem 0;
  height: 9rem;
  transform: skew(0, 5deg);
  position: relative;
  z-index: -1;
}

.title-container {
  padding: 0 9rem;
}

.title-picture {
  height: 25rem;
  margin: 0 auto;
  margin-top: -5.5rem;
}

.navbar-container {
  height: 4.5rem;
  padding-top: 3rem;
}

.title-box {
  margin: 0 auto;
  padding-top: 16.5rem;
}

.title-quote {
  padding-top: 2.5rem;
  font-size: 1.4rem;
  color: #f8f8ff;
}

.project-btn:hover {
  cursor: pointer;
}

/* About-me */

#about-me {
  margin-top: 6rem;
}

.about-me-container {
  margin-top: 2rem;
}

.skill-container {
  display: flex;
}

.skill-box {
  flex: 1;
}

.about-card {
  background-color: black;
  color: white;
}

.tab-container {
  display: flex;
  justify-content: center;
}

.tab {
  color: #f8f8ff;
  display: inline-block;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.7rem 0;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.tab-about-me {
  margin-right: 2.5rem;
  transform: translateY(-60%);
  padding: 0.7rem 3rem;
}

.tab:focus {
  outline: none;
  box-shadow: none;
}

.tab-1,
.slider-tab-1 {
  background-color: #003365;
}

.tab-1:hover,
.slider-tab-1:hover {
  background-color: #00203f;
}

.tab-2,
.slider-tab-2 {
  background-color: #8c1515;
}

.tab-2:hover,
.slider-tab-2:hover {
  background-color: #660000;
}

.tab-3,
.slider-tab-3 {
  background-color: #005a00;
}

.tab-3:hover,
.slider-tab-3:hover {
  background-color: #003500;
}

.tab-active {
  transform: translateY(-80%);
}

.header {
  font-size: 2rem;
  font-weight: 500;
  align-self: center;
  padding-bottom: 1rem;
}

.content-hidden {
  display: none;
}

.content {
  font-size: 1rem;
  padding: 3rem 7rem 0 7rem;
  height: 26rem;
}

/* Projects */

#project-container {
  margin-bottom: 70px;
}

.slider-bar {
  border-left: 2px solid #ccc;
  height: 24rem;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider-tab {
  transform: translatex(-50%) scale(0.8, 0.8);
  width: 9rem;
}

.slider-tab-active {
  transform: translatex(-50%);
}

.slider {
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  padding: 3rem;
  transition: transform 1s;
}

.slide h5 {
  font-weight: 600;
}

.slide ul {
  margin-top: 1rem;
}

.slide img {
  width: 50%;
  border-radius: 5px;
  flex-grow: 1;
}

.project-title-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.project-title {
  flex-grow: 1;
}

/* Cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  color: white;
  margin: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card-anchor,
.card-anchor:hover {
  color: initial;
}

.card-anchor:hover {
  text-decoration: initial;
}

.text-muted i {
  margin: 0 10px;
}

/*  */

.grey-container {
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 5px;
}

.project-container,
#about-me {
  height: 45rem;
}

@media only screen & (maxwidth: 990px) {
  #project-container,
  #contact-me,
  #about-me {
    height: auto;
  }
}
